<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Bookmarks:</h1>
    <ol>
      <% @bookmarks.each do |bookmark| %>
        <li class='bookmark'>
          <a class='bookmark-item' href='<%= bookmark.url %>'><%= bookmark.title %></a>
          <form action="/bookmarks/<%= bookmark.id %>/delete" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="delete">
          </form>
          <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
            <input type="submit" value="edit" />
          </form>
          <form action="/bookmarks/comments/<%= bookmark.id %>/edit" method="get">
            <input type="submit" value="add comment" />
          </form>
        <% bookmark.comments.each do |comment| %>
          <ul>
            <li><%= comment.text %></li>
          </ul>
        </li>
        <% end %>
      <% end %>
    </ol>
    <h3 style='color:red'><%= flash[:notice] %> </h3>
  </body>
</html>
